<div class="customizations-container page">
  <accordion title="How do Customizations work?">
    <p class="customizing-description">
      Before running a simulation, create a table with customized players and the conditions you want.
    </p>
    <p class="customizing-description">
      Customize any table or new set of game conditions you can imagine from penitration to DAS and way beyond.
    </p>
    <p class="customizing-description">
      Beyond customizing players with beginning bankrolls and bet sizes, customize their strategies for 
      <span class="newline"><i>unit resizing</i></span>, 
      <span class="newline"><i>bet spreads</i>
      </span> and even <span class="newline"><i>wonging</i></span>.
    </p>
    <p class="customizing-description">
      Choose a player's <span class="newline"><i>play chart</i></span> from basic strategy, the Wizard of Odd's suggestion or even <span class="newline"><i><b>one of your own creation</b></i></span>.
    </p>
    <p class="customizing-description">
      Experiment with different approaches to <span class="newline"><i>tipping</i></span> and even <i>create your own card counting strategy with play charts to go along with it.</i>
    </p>
  </accordion>
  <div class="links-container">
  @for(link of customizationLinks; track link) {
    <div class="link-wrapper">
      <a [routerLink]="link.linkUrl">
        <div>
          <p class="button-title">{{ link.title }}</p>
          <p class="button-description">{{ link.description }}</p>
        </div>
      </a>
    </div>
  }
  </div>
</div>