<div class="customizations-container page">
  <p class="customizing-description">Before running a simulation, create a table with customized players and the conditions you want.</p>
  <p class="customizing-description">Customize any table or new set ofgame conditions you can imagine from penitration to DAS and way beyond.</p>
  <p class="customizing-description">Besides customize players with beginning bankrolls amd bet sizes, customize their strategies for unit resizing, bet spreads and wonging. Choose a player's play chart from basic strategy, the illustrious 18 or to one of your own creation. Experiment with different approaches to tipping and even create your own card counting strategy.</p>
  <div class="links-container">
  @for(link of customizationLinks; track link) {
    <div class="link-wrapper">
      <a [href]="link.linkUrl">
        <div>
          <p class="button-title">{{ link.title }}</p>
          <p class="button-description">{{ link.description }}</p>
        </div>
      </a>
    </div>
  }
  </div>
</div>