@use '../../../scss/variables.scss';

:host {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  .sub-nav {
    font-size: 22px;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, .2);
    color: white;
    overflow: scroll;

    .link-wrapper {
      margin: 0 20px;
      color: white;

      a {
        text-decoration: none;
        color: variables.$secondary-color;
        font-weight: 600;

        &:visited {
          color: variables.$secondary-color;
        }
      
        &:hover {
          cursor: pointer;
          color: variables.$dark-font-color;
        }
      }
    }

    .instruction-details {
      margin-bottom: 16px;
    }
  }

  .index-charts-container {}
}