@use '../../../../scss/variables.scss';

:host {
  width: 100%;

  .break-even-streaks-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    height: 100vh;
    background-color: variables.$background-color;
    color: white;
    position: fixed;
    top: 0;
    left: 0;

    .intro-header {
      text-align: center;
    }

    .row-wrapper {
      width: 220px;

      button {
        background-color: variables.$button-color;
      }

      .select-wrapper {
        padding: 2px;
        border: 1px solid variables.$border-color;
        border-radius: 3px;
        width: 120px;
        background-color: white;
  
        select {
          border: none;
          font-size: 18px;
          color: variables.$dark-font-color;
          padding-right: 8px;
          width: 100%;
          padding: 6px 8px;
        }
      }
    }

    .input-content {
      display: flex;
      justify-content: space-around;

      .streak-input-wrapper, .player-select-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .input-wrapper {
          width: 220px;
          box-sizing: border-box;
        }
      }
    }

    .custom-streak-length {
      margin: 12px auto;
    }

    .output-content {
      align-content: center;
    }
  }
}