$background-color: #68bbe3;
$border-color: #003060;
$dark-contrast: #003060;
$dark-font-color: #003060;
$primary-color: #0e86d4;
$secondary-color: #055c9d;
$button-color: #055c9d;
$font-color: white;
$lite-border: white;
$hover-background-color: rgba(255, 255, 255, .2);
$error-color: red;
